.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 0;
}

.menu {
    display: flex;
    list-style-type: none;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 40%;
}

.login-icon {
    width: 100px;
    cursor: cell;
}